.clock-page {
    display: inline-flex;
    justify-content: flex-start;
}

.time-box {
    border: 1px solid black;
    border-radius: 8px;

    display: inline-block;
    width: 350px;
    margin-right: 45px;
    margin-bottom: 15px;

    &__zone {
        font-size: 30px;
        margin: 0;
    }

    &__time {
        font-size: 45px;
        margin: 0;
    }

    &__date {
        font-size: 25px;
    }
}